---
export const prerender = false;
import { makePage } from '@keystatic/astro/ui';
import config from 'virtual:keystatic-config';
const KeystaticApp = makePage(config);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="noindex" />
    <title>Tolemi CMS</title>
  </head>
  <body style="margin:0">
    <KeystaticApp client:only="react" />
  </body>
</html>
